
/* BBC-Reith-Sans
    Version :2.300
    Style :Regular
    Size :196.75 Kbps
    Update :16 May 2022
    Author :Dalton Maag Ltd
    TAG's :ReithSans
*/
@font-face {
    font-family: "BBC-Reith-Sans";
    src: url("bbc-reith-sans.eot");
    src: url("bbc-reith-sans.eot?#iefix") format("embedded-opentype"),
    url("bbc-reith-sans.woff2") format("woff2"),
    url("bbc-reith-sans.woff") format("woff"),
    url("bbc-reith-sans.ttf") format("truetype"),
}
