
{% extends "app_main/base.html" %}

{% block meta %}
<title>Title</title>
<meta property="og:title" content="Title">
<meta name="description" content="Description">
<meta property="og:description" content="Description">
{% endblock %}

{% block content %}


<div class="row mt-5 pt-5 pb-5 bg-white" style="height: auto !important;">


    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch p-1">

        <a class="p-4 w-100 rounded-3 model-detail-div" href="">
            <h5 class="mx-0 my-5 text-center">AI-Auditor</h5>
        </a>

    </div>


    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch p-1">

        <a class="p-4 w-100 rounded-3 model-detail-div" href="">
            <h5 class="mx-0 my-5 text-center">AI-Manager</h5>
        </a>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch p-1">

        <a class="p-4 w-100 rounded-3 model-detail-div" href="">
            <h5 class="mx-0 my-5 text-center">AI-Developer</h5>
        </a>

    </div>

    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 d-flex align-items-stretch p-1">

        <a class="p-4 w-100 rounded-3 model-detail-div" href="">
            <h5 class="mx-0 my-5 text-center">AI-Search</h5>
        </a>

    </div>

</div>


{% endblock %}
