
@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Golos Text";
  src: url("static/GolosText-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

