
@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Vend Sans";
  src: url("static/VendSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

