
/* Fonts */
@import url('fonts/dm-sans/dm-sans.css');
@import url('fonts/gilroy/Gilroy.css');
@import url('fonts/noto-sans/noto-sans.css');


:root {
/*
https://code.visualstudio.com/docs/
*/
    --lightblue: #00bcf2;
    --blue: #0072be;
    --stable-blue: #0076bf;
    --midblue: #00188f;
    --darkblue: #002050;
    --lightpurple: #b4a0ff;
    --purple: #5c2d91;
    --darkpurple: #373277;
    --lightmagenta: #e3008c;
    --magenta: #b4009e;
    --darkmagenta: #5c005c;
    --red: #e81123;
    --darkred: #a80000;
    --bordo: #9b2d30;
    --mild: #f8d0d0;
    --lightorange: #ff8c00;
    --orange: #d05000;
    --insiders-green: #058f2d;
    --yellowgreen: #70c040;
    --lightyellow: #fff100;
    --yellow: #ffcc00;
    --lightgreen: #bad80a;
    --green: #477a32;
    --darkgreen: #004b1c;
    --lightteal: #00b294;
    --teal: #008272;
    --darkteal: #004b50;
    --gray-95: darken(white, 5%);
    --lightgray: #e3e3e3;
    --gray: #ccc;
    --darkgray: #333;
    --white: #ffffff;
    --black: #000000;
    --background: #0D1117;
    --foreground: #9ba3b4;
    --header-foreground: #e9eaeb;
    --accent-primary: #0078d4;
    --accent-primary-hover: #0068c0;
    --accent-secondary: #0069b9;
    --link-foreground: #4daafc;
    --link-foreground-hover: #8fc3fe;
    --link-underline-background: var(--link-foreground);
    --background: #0D1117;
    --border-background: rgba(255, 255, 255, 0.12);
    --header-background: var(--background);
    --footer-background: var(--background);
    --button-primary-background: var(--accent-primary);
    --button-primary-foreground: var(--white);
    --button-secondary-background: rgba(255, 255, 255, 0.1);
    --button-secondary-foreground: var(--header-foreground);
    --button-secondary-border: rgba(255, 255, 255, 0.3);
    --icon-button-hover-background: rgba(255, 255, 255, 0.10);
    --navbar-border: var(--border-background);
    --search-input-background: transparent;
    --search-input-border: rgba(255, 255, 255, 0.15);
    --search-input-border-active: var(--accent-primary);
    --search-input-foreground: var(--foreground);
    --search-input-placeholder-foreground: #9ba3b4;
    --card-background: rgba(255, 255, 255, 0.04);
    --card-hover-background: rgba(255, 255, 255, 0.08);
    --card-border: rgba(255, 255, 255, 0.12);
    --card-border-active: rgba(255, 255, 255, 0.2);
    --feature-card-icon-background: rgba(255, 255, 255, 0.07);
    --banner-background: var(--background);
    --banner-link-color: var(--link-foreground);
    --banner-text: var(--foreground);
    --hero-background: linear-gradient(180deg, #0e0e0e 0%, #141414 100%);
    --hero-border-bottom: var(--border-background);
    --home-foreground: var(--foreground);
    --code-background: rgba(255, 255, 255, 0.15);
    --code-foreground: #cccccc;
    --keybinding-background: rgba(255, 255, 255, 0.15);
    --keybinding-foreground: var(--link-foreground);
    --code-copy-foreground: #ccc;
    --code-copy-background: #444;
    --alert-note-border-color: var(--lightblue);
    --alert-warning-border-color: var(--lightyellow);
    --alert-important-border-color: var(--lightpurple);
    --alert-caution-border-color: #FE7543;
    --alert-tip-border-color: var(--lightgreen);

    --bs-secondary-bg: #e0f0f8;
    --bs-tertiary-bg: #f8f9fa;

    --bs-blue-primary: #0d6efd;
    --bs-blue-hover: #0c58d8;
    /*--bs-blue-hover: #0c50d0;*/


    --bs-violet-bg: #8050f8;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;

    /*--bs-sky: #00a0e4;*/
    --bs-sky: #009ce0;
    --bs-sky-hover: #0080c8;

    --custom-blue: #20b0d8;

    /* serviceNow */
    --dps-theme-highlight: #5cc4af;
    --dps-theme-highlight-light-1: #7dd0bf;
    --dps-theme-highlight-light-2: #9ddccf;
    --dps-theme-highlight-light-3: #bee7df;
    --dps-theme-highlight-light-4: #def3ef;
    --dps-theme-highlight-dark-1: #4a9d8c;
    --dps-theme-highlight-dark-2: #377669;
    --dps-theme-highlight-dark-3: #254e46;
    --dps-theme-highlight-dark-4: #122723;
}

.bg-light {
  background-color: #edf2f6 !important;
}


.status-closed {
  color: #ffffff;
  background-color: var(--insiders-green);
  border-radius: 4px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.btn-violet {
  --bs-btn-font-weight: 500;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--bs-violet-bg);
  --bs-btn-border-color: var(--bs-violet-bg);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: #7028e0;
  --bs-btn-hover-border-color: #7028e0;
  --bs-btn-focus-shadow-rgb: var(--bs-violet-bg);
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.border-violet {
  border-color: var(--bs-violet-bg) !important;
}

.rounded-md {
  border-radius: 0.75rem !important;
}

.rounded-2xl {
  border-radius: 1rem;
}

.btn-sky {
  --bs-btn-font-weight: 500;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--bs-sky);
  --bs-btn-border-color: var(--bs-sky);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: var(--bs-sky-hover);
  --bs-btn-hover-border-color: var(--bs-sky-hover);
  --bs-btn-focus-shadow-rgb: var(--bs-violet-bg);
  --bs-btn-active-color: var(--white);
  --bs-btn-active-bg: var(--stable-blue);
  --bs-btn-active-border-color: var(--stable-blue);
}

[data-bs-theme=viix]
{
  color-scheme: viix;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: var(--accent-secondary);
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;

  background-color: var(--bs-sky-hover);
}

.bg-viix {
  color: #fff !important;
  background-color: #363E4C !important;
}

.bg-viix-light {
  color: #1f2428 !important;
  background-color: #f6f8fa !important;
}



body {
  font-size: 16px;
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'DM Sans', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy', sans-serif;
}

.article {
  font-family: 'Noto Sans', sans-serif;
}

.material-icons {
  display: inline-flex; /* Support that icon stay on one line with text */
  font-size: 24px;
  line-height: 1;
}

.nav-link {
  display: flex;
  align-items: center;  /* Centered icon by vertical*/
  gap: 0.5rem;          /* Indent between icon and text*/
  padding: 0.75rem 1rem;
  border-radius: 0.75rem !important;
}


/*
.sidebar-nav .navbar-nav a {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #6c757d;
    padding: 12px 16px !important;
    border-radius: 11px;
    background: #edf2f6;
    margin-bottom: 9px;
}
.sidebar-nav .navbar-nav .dropdown-menu {
    position: static !important;
    transform: unset !important;
    padding: 0px !important;
    border: none;
    background: transparent;
}
.sidebar-nav .navbar-nav .dropdown-menu a {
    padding: 12px 16px !important;
    font-size: 13px;
    margin: 2px 0px !important;
    border-radius: 8px !important;
}
.sidebar-nav .navbar-nav a:hover, .sidebar-nav .navbar-nav a.active {
    color: #000000;
    background: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.dropdown-toggle::after {
    margin-left: auto;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--gray-light-rgb);
    border-bottom: 2px solid #0d6efd;
    border-radius: 0px;
    color: #000 !important;
}
*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--black);
  background-color: var(--white);
}

.nav .nav-item:hover .nav-link {
  color: var(--black);
  background-color: var(--white);
}

.nav .nav-item:active .nav-link {
  color: var(--black);
  background-color: var(--white);
}

.nav-item .nav-link {
  color: inherit;
}

.nav-item .nav-link .material-icons {
  color: inherit;
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: var(--bs-blue-primary);
  --bs-dropdown-link-hover-color: var(--white);
}


.model-detail-div, .model-detail-div:hover {
  text-decoration: none;
  color: #000;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  background-color: var(--bs-secondary-bg);
  border-color: #0080C0;
  border-width: 2px;
}

.model-detail-div {
  display: block;
  /*background: var(--bs-tertiary-bg);*/
  background-color: var(--bs-tertiary-bg);
  border: 2px solid #00a0e4;
}

.px2rem {
  padding-right: 2.0rem !important;
  padding-left: 2.0rem !important;
}

.job-details {
  font-family: 'Gilroy', sans-serif !important;
}

.vbar {
  position: relative;
  /*display: flex;*/
  padding: 0px;
  font-size: 16px;
  line-height: 20px;
  min-height: 5px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 6px;
  transition: background 33.333ms linear;
  color: var(--fgColor-default, var(--color-fg-default, #1F2328));
  cursor: pointer;
  appearance: none;
  background-image: unset;
  background-position: unset;
  background-size: unset;
  background-repeat: unset;
  background-attachment: unset;
  background-origin: unset;
  background-clip: unset;
  border: unset;
  width: calc(100% - 8px);  /* 8 = after::left */
  font-family: unset;
  text-align: unset;
  margin-top: unset;
  margin-bottom: unset;
  font-weight: 600;
  /*
  background-color: var(--control-transparent-bgColor-selected, var(--color-action-list-item-default-selected-bg, rgba(208, 215, 222, 0.24)));
  */
}


.vbar::after {
  position: absolute;
  top: calc(50% - 18px);  /* 15 = 0.5*height */
  left: -8px;
  width: 4px;
  height: 30px;
  content: "";
  background-color: var(--bs-violet-bg);
  border-radius: 6px;
}

.vlink {
  padding: 6px 8px;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-radius: 6px;
  color: inherit;
}

.channel-placeholder {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  box-shadow: 0 8px 10px -6px rgba(58, 46, 68, 0.5);
}

.theme-blue-text {
  color: var(--custom-blue);
}

.text-violet {
  color: #7050e0!important;
}
